
    <form class="form-horizontal" [formGroup]="form">

      <mat-form-field>
          <input matInput type="email" placeholder="Email" formControlName="email">
      </mat-form-field>
      <br/>
    
      <mat-form-field>
          <input matInput formControlName="password" placeholder="Password" type="password">
      </mat-form-field>

    <br/>
     <button  (click)="onSubmit()" [disabled]="form.invalid || loggingIn" mat-raised-button color="primary" type="submit">Login</button>
     <br/>
     <mat-spinner *ngIf="loggingIn"></mat-spinner>
     
     <p style="color:red;" *ngIf="loginFailed && !loggingIn">Falsche Zugangsdaten!</p>

    </form>

